@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to top, hsl(240, 75%, 66%), hsl(288, 80%, 65%));
    background-repeat: no-repeat;
}
